<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to cocktails_path, class: "navbar-brand" do %>
  <h3 class="navbar-logo"><i class="fas fa-cocktail"></i>     Cocktaileria</h3>
  <% end %>

  <%= link_to 'Add new cocktail', new_cocktail_path, class: 'btn btn-outline-warning d-xs-none'  %>
    </div>
  </div>
